<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="medium">Home</ion-title>
    </ion-toolbar>
  </ion-header>
  <app-loading *ngIf="isLoading"></app-loading>
  <div *ngIf="isError" class="error-state">
    <img src="../../assets/image/error_state.png" alt="" srcset="">
  </div>
  <div *ngIf="!isLoading">
    <ion-card *ngFor="let post of posts">
      <ion-item class="user pt-2">
        <ion-avatar slot="start">
          <img [src]="post.owner.picture">
        </ion-avatar>
        <ion-label><span class="bold">{{post.owner.firstName}}</span>, {{post.publishDate | date}}</ion-label>
      </ion-item>
      <img [src]="post.image" class="img-cover" />
      <ion-row>
        <ion-col class="d-flex">
          <ion-icon name="heart" class="medium" color="danger"></ion-icon> <span class="my-auto bold">{{post.likes}}
            likes</span>
        </ion-col>
      </ion-row>
      <ion-card-content>
        <p>{{post.text}}</p>
        <ion-chip color="primary" class="ion-margin-top mr-2" *ngFor="let tag of post.tags" outline="true"
          color="danger">
          <ion-label>{{tag}}</ion-label>
        </ion-chip>
      </ion-card-content>
    </ion-card>
  </div>
  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
  <ion-infinite-scroll threshold="100px" (ionInfinite)="LoadMoreNews($event)" *ngIf="!isError">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Loading More Posts...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>