p {
    font-size: 1em;
    margin-bottom: 20px;
}
.box {
    height: 200px;
    background: linear-gradient(45deg, #4854e0, #3dc2ff);
    position: relative;
}
.avatar-content {
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    ion-avatar {
        margin-top: 0 !important;
    }
}